name: CI

on:
  workflow_dispatch:

jobs:
  build-test:
    name: Build and Test
    runs-on: ${{ matrix.os.instance }}
    timeout-minutes: 15
    permissions:
      contents: read

    strategy:
      fail-fast: false
      matrix:
        os:
          - category: windows
            platform: x64
            instance: windows-latest

          - category: ubuntu
            platform: x64
            instance: ubuntu-22.04

        python: ["3.9", "3.10", "3.11", "3.12", "3.13"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup .NET
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: "8.0.x"

      - name: Set up Python ${{ matrix.python }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
          architecture: ${{ matrix.os.platform }}

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        
      - name: Sync
        run: |
          uv sync --all-extras --dev

      - name: Test
        run: |
          run: uv run pytest tests
